body {
    margin: 0;
    padding: 0;
    display : block;
    font-family: 'Roboto';
}

.header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}

.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-text {
    font-size: 20px;
    font-weight: 900;
    color: #4C8EEA;
}

.header-slider {
    padding: 0px 0px;
    display: inline-block;
    list-style-type: none;
    height: 40px;
}

.header-slider-item {
    background-color: #fff;
    color: #000;
    font-weight: 700;
    padding: 10px 20px;
    align-content: center;
    display: inline-block;
    text-align: center;
    width: 100px;
}

.header-slider-item:hover {
    background-color: #307fe2;
    color: #fff;
    cursor: pointer;
  }
.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-login-btn {
    display: inline-block;
    width: 100px;
    height: 40px;
    border-radius: 90px;
    background-color: #00ABC5;
    border: none;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

.button-hover:hover {
    opacity: 0.5;
    cursor: pointer;
}

.content {
    background-color: #fff;
}

.search-ground {
    height: 60px;
    background-color: #00ABC5;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-content { 
    color: white;
    position: relative;
}

.search-input {
    padding: 15px;
    border-radius: 30px;
    width: 40vw;
    border: 0;
}

.search-icon {
    background-color: #E72D2D;
    padding: 15px;
    position: absolute;
    border: 0;
    border-radius: 0 30px 30px 0;
    transform: translateX(-70px);
    height: 45px;
    width: 70px;
}

.icon-color {
    color: #fff;
}

.GH {
    
    padding: 10px;
    background-color: #fff;
    padding-bottom: 50px;
}

.GH-text {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin: 10px 0;
}

.Back-button {
    border: 1px solid #127FFF;
    background-color: #127FFF;
    border-radius: 30px;
    width: auto;
    padding: 0px 20px 0 20px;
    margin: 10px 0 0 100px;
    color: #ffffff;
    display: inline-block;
}

.Back-button:hover {
    border: 1px solid #4a9eff;
    background-color: #4a9eff;
    border-radius: 30px;
    width: auto;
    padding: 0px 20px 0 20px;
    margin: 10px 0 0 100px;
    color: #ffffff;
    display: inline-block;
    cursor: pointer;
}

.GH-addr {
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0 0 100px;
}
.empty1 {
    grid-area: empty1;
}
.empty2 {
    grid-area: empty2;
}
.main-content {
    display: grid;
    grid-template-areas:
    'GH-container GH-container GH-container empty '
    'GH-container GH-container GH-container empty '
    'GH-container GH-container GH-container empty '
    'GH-container GH-container GH-container empty '
    'GH-container GH-container GH-container final_cal ';
    gap: 10px;
    padding: 10px;
    margin: 50px;   
}

.bookpic1 { 
    grid-area: bookpic1; 
    text-align: center;
    border-bottom: solid;
}
.bookname1 { 
    grid-area: bookname1; 
}
.authorname1 { 
    grid-area: authorname1; 
}
.pubname1 { 
    grid-area: pubname1; 
}
.price1 { 
    grid-area: price1; 
    text-align: right;
}
.bookpic2 { 
    grid-area: bookpic2; 
    text-align: center;
    border-bottom: solid;
}
.bookname2 { 
    grid-area: bookname2; 
}
.authorname2 { 
    grid-area: authorname2; 
}
.pubname2 { 
    grid-area: pubname2; 
}
.price2 { 
    grid-area: price2; 
    text-align: right;
}
.bookpic3 { 
    grid-area: bookpic3;
    text-align: center; 
}
.bookname3 { 
    grid-area: bookname3; 
}
.authorname3 { 
    grid-area: authorname3; 
}
.pubname3 { 
    grid-area: pubname3; 
}
.price3 { 
    grid-area: price3; 
    text-align: right;
}
.checkbox1 { 
    grid-area: checkbox1; 
    border-bottom: solid;
}
input.checkbox_1 {
    width: 25px;
    height: 25px;
}
.checkbox2 { 
    grid-area: checkbox2; 
    border-bottom: solid;
}
input.checkbox_2 {
    width: 25px;
    height: 25px;
}
.checkbox3 { 
    grid-area: checkbox3; 
}
input.checkbox_3 {
    width: 25px;
    height: 25px;
}
.checkall { 
    grid-area: checkall; 
    border-bottom: solid;
}
input.checkall_1 {
    width: 25px;
    height: 25px;
}
.clear { 
    grid-area: clear; 
    border: solid;
    text-align: center;
    border-radius: 20px;
    border-color: black;
}
.clear:hover { 
    cursor: pointer;
    border-color: red;
}
.quantity1 { 
    grid-area: quantity1; 
    text-align: right;
}
input.quantity_1 {
    width: 80px;
    height: 30px;
}
.quantity2 { 
    grid-area: quantity2; 
    text-align: right;
}
input.quantity_2 {
    width: 80px;
    height: 30px;
}
.quantity3 { 
    grid-area: quantity3;
    text-align: right;
}
input.quantity_3 {
    width: 80px;
    height: 30px;
}
.GH-container {
    grid-area: GH-container; 
    display: grid;
    grid-template-areas:
    'checkall checkall checkall checkall clear'
    'checkbox1 bookpic1 bookname1 bookname1 price1'
    'checkbox1 bookpic1 authorname1 authorname1 price1'
    'checkbox1 bookpic1 pubname1 pubname1 quantity1'
    'checkbox2 bookpic2 bookname2 bookname2 price2'
    'checkbox2 bookpic2 authorname2 authorname2 price2'
    'checkbox2 bookpic2 pubname2 pubname2 quantity2'
    'checkbox3 bookpic3 bookname3 bookname3 price3'
    'checkbox3 bookpic3 authorname3 authorname3 price3'
    'checkbox3 bookpic3 pubname3 pubname3 quantity3';
    gap: 10px;
    padding: 10px;
    border-style: solid;
    border-radius: 20px;
}

.GH-container > div {
    font-size: 30px;
}

.order {
    grid-area: order;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    background-color: #00B517;
    color: #fff;
    padding: 20px 0;
    font-size: 30px;
    border-style: solid;
    border-color: white;
}
.payment_method {
    grid-area: payment_method;
    text-align: center;
    font-size: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.8);
}

.order:hover {
    cursor: pointer;
    border-color: black;
}
.payment_method:hover {
    cursor: pointer;
    border-color: black;
}

.final_cal {
    grid-area: final_cal;
    display: grid;
    grid-template-areas:
    'order order order'
    'payment_method void void';
    gap: 10px;
    padding: 10px;
}

.subscribe {
    height: 60px;
    background-color: #00ABC5;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-content { 
    color: white;
    position: relative;
}

.sub-input {
    padding: 15px;
    border-radius: 30px;
    width: 40vw;
    border: 0;
}

.sub-btn {
    display: inline-block;
    background-color: #E72D2D;
    padding: 15px;
    position: absolute;
    border: 0;
    border-radius: 0 30px 30px 0;
    transform: translateX(-90px);
    height: 45px;
    width: 90px;
    color: #fff;
    font-weight: 700;
}


.footer-heading{
    padding:10px;
    text-align: center;
    background-color: #C1C1C1;
}

.footer-content{
    display: flex;
    justify-content: space-evenly;
    margin:30px 0;
    padding-bottom: 50px;
}

.FC-item{
    width: 20%;
}

.FCi-list{
    list-style-type: none;
}

.FCi-name{
    font-weight: 700;
}

.FCi-topic{
    padding-top:10px;
    width: 100%;
    cursor: pointer;
}

.footer-end{
    padding:10px;
    text-align: center;
    background-color: #00ABC5;
}


