body {
    background: white;
}

.height-100 {
    height: 100vh
}

.image-part {
    width: 100%;
    border: none;
    height: 250px;
    max-width: 380px;
    overflow: hidden;
    position: relative;
    display: flex;
    cursor:pointer;
    justify-content: center;
    transition: all ease 0.4s
}

.image-part img {
    transition: all ease 0.4s
}

.image-part:hover img {
    margin-top: -80px
}

.image-part .content {
    width: 100%;
    background: #fff;
    position: absolute;
    bottom: -60%;
    margin-left: -8px;
    transition: all ease 0.5s;
    border-radius: 4px;
    box-shadow: 0px -3px 4px rgba(10, 10, 10, 0.09)
}

.image-part .content .category {
    font-size: 17px;
    font-weight: 600
}

.image-part .content .price {
    font-size: 17px;
    font-weight: 500;
    color: #0d6efd
}

.image-part .content p {
    font-weight: 500;
    font-size: 12px
}

.image-part:hover .content {
    bottom: 0%
}

.buttons button {
    border-radius: 1px;
    margin-bottom: 10px;
    transition: all ease 0.3s
}

.content {
    padding: 10px
}

.add-to-cart{
    background-color:  rgb(204, 57, 87);
    color: white;
    border-radius: 30px;
    padding: 10px 28px;
    border: 2px solid rgb(204, 57, 87);
    margin-right: 10px;
}
.add-to-cart:hover{
    background-color: rgb(145, 39, 60);
    padding: 10px 30px;
    margin-right: 6px;
}
.add-to-wishlist{
    background-color: white;
    color: rgb(83,60,157);
    border-radius: 30px;
    padding: 10px 28px;
    border: 2px solid rgb(83,60,157);
}
.add-to-wishlist:hover{
    background-color: rgb(247, 230, 233);
}
.format button{
    background-color: rgb(246,245,247);
    border-radius: 5px;
    border: 2px solid rgb(83,60,157);
    padding: 20px 28px;
    width: 200px;
    text-align: left;
}
.book-name{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: xx-large;
}
.author{
    font-size: small;
}
.author a{
    color: rgb(83,60,157);
    text-decoration: none;
}
.get-audio a{
    color: rgb(83,60,157);
    text-decoration: none;
}
.available{
    color: green;
    font-weight:500;
}
.td-left{
    text-align: right;
    padding-right: 10px;
}
.td-right{
    text-align: left;
}

.img-wrapper{
    max-width: 100%;
    height: 65vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    }

img{
    max-width: 100%;
    max-height: 100%;
}

@media screen and (min-width:800px){
    img{
        max-width: 170px;
        max-height: 100%;
    }


    .carousel-inner{
        display:flex;
    }
    .carousel-item{
        flex: 0 0 calc(100%/4);
        margin-right: 0;
        display: block;
    }
    .img-wrapper{
        height: 100%;
    }
}

@media screen and (max-width:799px){
    img{
        max-width: 170px;
        max-height: 100%;
    }


    .carousel-inner{
        display:flex;
    }
    .carousel-item{
        flex: 0 0 calc(100%/4);
        margin-right: 0;
        display: block;
    }
    .img-wrapper{
        height: 100%;
    }
}

  
  .carousel-control-prev, .carousel-control-next{
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }    
  
  body {
    margin: 0;
    padding: 0;
    display : block;
    font-family: 'Roboto';
}

.heading {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}

.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-logo-text {
    font-size: 20px;
    font-weight: 900;
    color: #4C8EEA;
}

.header-slider {
    padding: 0px 0px;
    display: inline-block;
    list-style-type: none;
    height: 40px;
}

.header-slider-item {
    background-color: #fff;
    color: #000;
    font-weight: 700;
    padding: 10px 20px;
    align-content: center;
    display: inline-block;
    text-align: center;
    width: 100px;
}

.header-slider-item:hover {
    background-color: #307fe2;
    color: #fff;
    cursor: pointer;
  }
.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-login-btn {
    display: inline-block;
    width: 100px;
    height: 40px;
    border-radius: 90px;
    background-color: #00ABC5;
    border: none;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

.button-hover:hover {
    opacity: 0.5;
    cursor: pointer;
}

.content {
    background-color: #fff;
}

.search-ground {
    height: 60px;
    background-color: #00ABC5;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-content { 
    color: white;
    position: relative;
}

.search-input {
    padding: 15px;
    border-radius: 30px;
    width: 40vw;
    border: 0;
}

.search-icon {
    background-color: #E72D2D;
    padding: 15px;
    position: absolute;
    border: 0;
    border-radius: 0 30px 30px 0;
    transform: translateX(-70px);
    height: 54px;
    width: 70px;
}

.icon-color {
    color: #fff;
}
.banner {
    width: 100%;
    height: 60vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.new-book {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    padding-bottom: 50px;
}

.topSelling {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    padding-bottom: 50px;
}

.NB-text {
    font-size: 40px;
    font-weight: 900;
    margin: 10px 0;
}

.NB-container {
    display: flex;
    justify-content: space-evenly;
    padding: 0 100px;
}

.NB-items {
    padding: 40px;
    text-align: center;
}

.NBi-image {
    width: 100%;
    max-height: 100%;
    border-radius: 20px;
}

.NBi-category {
    font-weight:600;
    margin: 10px;
}

.NBi-name {
    font-size: 20px;
    font-weight: 600;
}

.NBi-author {
    font-weight: 600;
    color:rgba(0, 0, 0, 0.6);
    padding: 10px;
}

.NBi-price {
    border: 1px solid #0C14E7;
    border-radius: 10px;
    width: auto;
    padding: 10px;
    color: #FF0000;
    display: inline-block;
}

.subscribe {
    height: 60px;
    background-color: #00ABC5;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-content { 
    color: white;
    position: relative;
}

.sub-input {
    padding: 15px;
    border-radius: 30px;
    width: 40vw;
    border: 0;
}

.sub-btn {
    display: inline-block;
    background-color: #E72D2D;
    padding: 15px;
    position: absolute;
    border: 0;
    border-radius: 0 30px 30px 0;
    transform: translateX(-90px);
    height: 45px;
    width: 90px;
    color: #fff;
    font-weight: 700;
}

.footer-heading{
    padding:10px;
    text-align: center;
    background-color: #C1C1C1;
}

.footer-content{
    display: flex;
    justify-content: space-evenly;
    margin:30px 0;
    padding-bottom: 50px;
}

.FC-item{
    width: 20%;
}

.FCi-list{
    list-style-type: none;
}

.FCi-name{
    font-weight: 700;
}

.FCi-topic{
    padding-top:10px;
    width: 100%;
    cursor: pointer;
}

.footer-end{
    padding:10px;
    text-align: center;
    background-color: #00ABC5;
}

#profile-pic{
    height: 50px;
    border-radius: 25px;
}

#fuck{
    color:red !important;
}

.navbar-nav li:hover{
    background-color: rgb(76, 168, 194) !important;
    border-radius: 10px;
}
