body {
    margin: 0;
    padding: 0;
    display : block;
    font-family: 'Roboto';
}

.header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}

.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-text {
    font-size: 20px;
    font-weight: 900;
    color: #4C8EEA;
}

.header-slider {
    padding: 0px 0px;
    display: inline-block;
    list-style-type: none;
    height: 40px;
}

.header-slider-item {
    background-color: #fff;
    color: #000;
    font-weight: 700;
    padding: 10px 20px;
    align-content: center;
    display: inline-block;
    text-align: center;
    width: 100px;
}

.header-slider-item:hover {
    background-color: #307fe2;
    color: #fff;
    cursor: pointer;
  }
.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-login-btn {
    display: inline-block;
    width: 100px;
    height: 40px;
    border-radius: 90px;
    background-color: #00ABC5;
    border: none;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

.button-hover:hover {
    opacity: 0.5;
    cursor: pointer;
}

.content {
    background-color: #fff;
}

.search-ground {
    height: 60px;
    background-color: #00ABC5;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-content { 
    color: white;
    position: relative;
}

.search-input {
    padding: 15px;
    border-radius: 30px;
    width: 40vw;
    border: 0;
}

.search-icon {
    background-color: #E72D2D;
    padding: 15px;
    position: absolute;
    border: 0;
    border-radius: 0 30px 30px 0;
    transform: translateX(-70px);
    height: 45px;
    width: 70px;
}

.icon-color {
    color: #fff;
}

.TT {
    
    padding: 10px;
    background-color: #fff;
    padding-bottom: 50px;
}

.TT-text {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin: 10px 0;
}

.Back-button {
    border: 1px solid #127FFF;
    background-color: #127FFF;
    border-radius: 30px;
    width: auto;
    padding: 0px 20px 0 20px;
    margin: 10px 0 0 100px;
    color: #ffffff;
    display: inline-block;
}

.Back-button:hover {
    border: 1px solid #4a9eff;
    background-color: #4a9eff;
    border-radius: 30px;
    width: auto;
    padding: 0px 20px 0 20px;
    margin: 10px 0 0 100px;
    color: #ffffff;
    display: inline-block;
    cursor: pointer;
}

.TT-addr {
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0 0 100px;
}
.empty1 {
    grid-area: empty1;
}
.empty2 {
    grid-area: empty2;
}
.main-content {
    display: grid;
    grid-template-areas:
    'TT-container TT-container TT-container empty1 empty1'
    'TT-container TT-container TT-container final_cal final_cal'
    'TT-container TT-container TT-container final_cal final_cal'
    'TT-container TT-container TT-container final_cal final_cal'
    'TT-container TT-container TT-container empty2 empty2';
    gap: 10px;
    padding: 10px;
    margin: 50px;
}

.bookpic1 { 
    grid-area: bookpic1; 
    text-align: center;
    border-bottom: solid;
}
.bookname1 { 
    grid-area: bookname1; 
}
.authorname1 { 
    grid-area: authorname1; 
}
.pubname1 { 
    grid-area: pubname1; 
}
.remove1 { 
    grid-area: remove1; 
    border-radius: 50px;
    color:red;
    text-align: center;
    border-style: solid;
    height: 40px;
}
.remove1:hover {
    cursor: pointer;
}
.quantity1 { 
    grid-area: quantity1; 
    border-radius: 50px;
    text-align: center;
    border-style: solid;
    height: 40px;
}
.quantity1:hover {
    cursor: pointer;
}
.price1 { 
    grid-area: price1; 
    text-align: center;
}
.bookpic2 { 
    grid-area: bookpic2; 
    text-align: center;
    border-bottom: solid;
}
.bookname2 { 
    grid-area: bookname2; 
}
.authorname2 { 
    grid-area: authorname2; 
}
.pubname2 { 
    grid-area: pubname2; 
}
.remove2 { 
    grid-area: remove2; 
    border-radius: 50px;
    color:red;
    text-align: center;
    border-style: solid;
    height: 40px;
}
.remove2:hover {
    cursor: pointer;
}
.quantity2 { 
    grid-area: quantity2; 
    border-radius: 50px;
    text-align: center;
    border-style: solid;
    height: 40px;
}
.quantity2:hover {
    cursor: pointer;
}
.price2 { 
    grid-area: price2; 
    text-align: center;
}
.bookpic3 { 
    grid-area: bookpic3;
    text-align: center; 
}
.bookname3 { 
    grid-area: bookname3; 
}
.authorname3 { 
    grid-area: authorname3; 
}
.pubname3 { 
    grid-area: pubname3; 
}
.remove3 { 
    grid-area: remove3; 
    border-radius: 50px;
    color:red;
    text-align: center;
    border-style: solid;
    align-items: center;
    height: 40px;
}
.remove3:hover {
    cursor: pointer;
}
.quantity3 { 
    grid-area: quantity3; 
    border-radius: 50px;
    text-align: center;
    border-style: solid;
    height: 40px;
}
.quantity3:hover {
    cursor: pointer;
}
.price3 { 
    grid-area: price3; 
    text-align: center;
}
.blank { 
    grid-area: blank; 
    border-right: solid;
}
.TT-container {
    grid-area: TT-container; 
    display: grid;
    grid-template-areas:
    'bookpic1 bookname1 bookname1 blank price1'
    'bookpic1 authorname1 authorname1 blank price1'
    'bookpic1 pubname1 pubname1 blank price1'
    'bookpic1 remove1 quantity1 blank price1'
    'bookpic2 bookname2 bookname2 blank price2'
    'bookpic2 authorname2 authorname2 blank price2'
    'bookpic2 pubname2 pubname2 blank price2'
    'bookpic2 remove2 quantity2 blank price2'
    'bookpic3 bookname3 bookname3 blank price3'
    'bookpic3 authorname3 authorname3 blank price3'
    'bookpic3 pubname3 pubname3 blank price3'
    'bookpic3 remove3 quantity3 blank price3';
    gap: 10px;
    padding: 10px;
    border-style: solid;
    border-radius: 20px;
}

.TT-container > div {
    font-size: 30px;
}
.total_price {
    grid-area: total_price;
    text-align: left;
    padding: 20px 0;
    font-size: 30px;
}
.total_price_num {
    grid-area: total_price_num;
    text-align: right;
    padding: 20px 0;
    font-size: 30px;
}
.discount {
    grid-area: discount;
    text-align: left;
    padding: 20px 0;
    font-size: 30px;
}
.discount_num {
    grid-area: discount_num;
    text-align: right;
    padding: 20px 0;
    font-size: 30px;
}
.total {
    grid-area: total;
    text-align: left;
    border-top: 2px solid;
    padding: 20px 0;
    font-size: 30px;
}
.total_num {
    grid-area: total_num;
    text-align: right;
    border-top: 2px solid;
    padding: 20px 0;
    font-size: 30px;
}
.order {
    grid-area: order;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    background-color: #00B517;
    color: #fff;
    padding: 20px 0;
    font-size: 30px;
    border-style: solid;
    border-color: white;
}
.payment_method {
    grid-area: payment_method;
    text-align: center;
    font-size: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.8);
}

.order:hover {
    cursor: pointer;
    border-color: black;
}
.payment_method:hover {
    cursor: pointer;
    border-color: black;
}

.final_cal {
    grid-area: final_cal;
    display: grid;
    grid-template-areas:
    'total_price  blank total_price_num'
    'discount  blank discount_num'
    'total  blank total_num'
    'order order order'
    'payment_method void void';
    gap: 10px;
    padding: 10px;
}

.subscribe {
    height: 60px;
    background-color: #00ABC5;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-content { 
    color: white;
    position: relative;
}

.sub-input {
    padding: 15px;
    border-radius: 30px;
    width: 40vw;
    border: 0;
}

.sub-btn {
    display: inline-block;
    background-color: #E72D2D;
    padding: 15px;
    position: absolute;
    border: 0;
    border-radius: 0 30px 30px 0;
    transform: translateX(-90px);
    height: 45px;
    width: 90px;
    color: #fff;
    font-weight: 700;
}


.footer-heading{
    padding:10px;
    text-align: center;
    background-color: #C1C1C1;
}

.footer-content{
    display: flex;
    justify-content: space-evenly;
    margin:30px 0;
    padding-bottom: 50px;
}

.FC-item{
    width: 20%;
}

.FCi-list{
    list-style-type: none;
}

.FCi-name{
    font-weight: 700;
}

.FCi-topic{
    padding-top:10px;
    width: 100%;
    cursor: pointer;
}

.footer-end{
    padding:10px;
    text-align: center;
    background-color: #00ABC5;
}


